@value colors: "../../colors.css";
@value primary-500 from colors;

.container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 32;
  background-color: primary-500;
  border: none;
}

.containerMobile {
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 32;
  background-color: primary-500;
  border: none;
  width: 100%;
}

@media (max-width: 510px) {
  .container {
    display: none;
  }
  .containerMobile {
    display: flex;
  }
}
